root = true

[*]
end_of_line = crlf
insert_final_newline = true

[*.{js,json,yml,vue,ts,tsx}]
charset = utf-8
indent_style = space
indent_size = 2

[*.sh]
end_of_line = lf

[*.ps1]
end_of_line = lf
charset = utf-8-bom
indent_style = space
indent_size = 2